/* TicketForm.css */

.ticket-form {
    background-color: #979191;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .ticketheader {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="number"],
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:first-child {
    background-color: #007bff;
  }
  
  button:last-child {
    background-color: #ccc;
  }
  
  button:first-child:hover {
    background-color: #0056b3;
  }
  
  button:last-child:hover {
    background-color: #999;
  }
  .ticket-form.hidden {
    display: none;
  }
  
  /* Update the plus icon to a right sign */
  .ticket-form.hidden + .create-ticket-header i::before {
    content: "\f105"; /* Unicode for right sign icon */
  }