/* TicketPageBody.css */

/* Common styles */
.ticket-page-body {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 20px 10px;
  overflow-y: auto;
  height: 100vh; /* Add this line to make the page scrollable */
}

/* Create Ticket section */
.create-ticket {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 300px; /* Set a maximum height for scrolling */
  overflow-y: auto; /* Add this line to make the "Create Ticket" section scrollable */
}

.create-ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-ticket-header span {
  font-weight: bold;
}

.create-ticket-header i {
  cursor: pointer;
  font-size: 24px;
  color: #007bff; /* Blue color for icons */
}

/* Design Ticket section */
.design-ticket {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
}

.design-ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.design-ticket-header span {
  font-weight: bold;
}

/* Uploaded image container */
.uploaded-image-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.uploaded-image-container img {
  max-width: 80vw; /* Reduce the image size to 5% of its original size */
  max-height: 50vh; /* Reduce the image size to 5% of its original size */
  margin-right: 10px; /* Provide some spacing between the image and buttons */
}

.uploaded-image-container button {
  background-color: #dc3545; /* Choose a color for the delete button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

/* Upload Own Image and Default Ticket buttons */
.buttons {
  display: flex;
  margin-top: 10px;
}

.upload-own-button,
.default-ticket-button {
  background-color: #007bff; /* Choose a color for the buttons */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px; /* Add margin to separate the buttons */
  width: 15%;
  text-align: center;
}

.upload-own-button span {
  display: block;
}
.main-Qr{
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  max-height: 300px; /* Set a maximum height for scrolling */
  overflow-y: auto; 
}
.generate-Qr-header {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.generate-Qr-header span {
  font-weight: bold;
}

.generate-Qr-header i {
  cursor: pointer;
  font-size: 24px;
  color: #007bff; /* Blue color for icons */
}
/* Add this to your TicketPageBody.css */

.popup-form {
  
}

.popup-form-content {
  /* Your styles for the content inside the popup */
 
}
