/* Original styles */

.vision_container {
  background-image: url('../../assets/business.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 150vh;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}
.vision-content{
  color: rgb(247, 241, 241);
}
.vision_container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150vh;
  background: rgba(49, 36, 36, 0.5);
}

.vision_header {
  text-align: center;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color:white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.vision_sub2 {
  text-align: center;
  color: rgb(221, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
}

.vision_subheader {
  text-align: center;
  color: rgb(217, 228, 228);
  display: flex;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
  align-items: center;
}

.custom_button {
  margin-top: 1rem;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  color: rgb(90, 57, 14);
  background: none;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-left: 45%;
}

.custom_button button {
  background: var(--color-golden);
  border: 1px solid white;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  color: white;
  align-items: center;
  justify-content: center;
 
}

.custom_button button:hover {
  background: none;
  color: var(--color-golden);
}

/* Responsive adjustments for mobile screens */
/* Responsive adjustments for mobile screens */

@media screen and (max-width: 767px) and ((min-width:320px)) {
  .vision_header {
    font-size: 30px; 
    color: white;/* Reduce text size for mobile screens */
  }

  .vision_text,
  .vision_subheader {
    font-size: 25px;
    left: 0;
    right: 0; /* Center-align text for mobile screens */
  }

 .vision-content{
  font-size: 15px;
 }
}

/* Styles for larger screens (2560px) */
@media (min-width: 2560px) {
  .vision_header {
    font-size: 180px; /* Increase text size for larger screens */
  }

  .vision_text,
  .vision_subheader {
    font-size: 100px;
    left: 0;
    right: 0; /* Center-align text for mobile screens */
  }
  .vision-content{
    font-size: 40px;
    color: rgb(225, 240, 240);
  }
}

