.app_specialmenu-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-item {
  border-radius: 10px;
  background: none;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.menu-item-image-container {
  position: relative;
  width: 100%; /* Adjust width for responsiveness */
  max-width: 350px; /* Limit maximum width for smaller screens */
  height: 100%; /* Adjust height for responsiveness */
  max-height: 450px; /* Limit maximum height for smaller screens */
  object-fit: contain;
}

.menu-item-text {
  color: #333;
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 60%;
  height: 50%;
}

.menu-item-header {
  font-size: 24px;
  margin: 10px 20px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  justify-content: center;
}

.menu-item-subheader {
  font-size: 16px;
  margin: 10px 20px;
}

.menu-item-button {
  color: #493131;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-item-button:hover {
  background-color: #0056b3;
}

.arrow-icon {
  font-size: 20px;
  margin-left: 5px;
}

/* Media queries for responsiveness */

/* For small screens like mobile phones (320px width) */
@media screen and (min-width: 320px) {
  .menu-item {
    margin-top: 10%;
  }
}

/* For large screens like 2560px width */
@media screen and (min-width: 2560px) {
  .menu-item {
    margin-top: 20%;
    height: 100%;
   
  }
  .menu-item-image-container {
    width: 2000px;
    height: 1000px;
  }
  .menu-item-text{
    font-size: 200px;
  }
}

/* For laptops and other screens */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .menu-item-image-container {
    max-width: 300px;
    max-height: 400px;
  }
}
