.app_header {
    text-align: center;
    margin: 0; /* Reset top and bottom margin */
    margin-right: 80px;
    justify-content: center;
    align-items: center;
   
  }
  
  .app_wrapper_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40%;
    justify-content: center;
    margin-top: 10%;
  }
  
  .header-content {
    text-align: left;
  }
  
  .app_header-h1 {
    font-family: var(--font-base);
    color: var(--color-white);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 84px;
    margin: 0; 
    justify-content: center;
    text-align: center;/* Reset top and bottom margin */
  }
  
  .p_opensans {
    margin: 0;
    color:var(--color-golden);
    font-family: 'Open Sans',;
    font-style:oblique;
  }
  
 
  body {
    margin: 0;
    padding: 0;
    background-color: var(--color-black);
    overflow: hidden;
  }
  @media screen and (max-width: 650px) {
    .header-content {
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-top: 30%;
    }
  
    .app_header-h1 {
      font-size: 60px;
      line-height: 60px; /* Adjust line-height for better readability */
    }
  
    .custom_button {
      margin-left: 0; /* Center button horizontally */
    }
  }
  